
@model IEnumerable<ShopHaiSan.MENU>
       <ul>
           @foreach (var i in Model)
           {

               <li style="display:inline-block;padding-right:7px;text-decoration:none;font-size:15px"   >
                   <strong> <a href="/Home/@i.LinkMenu">@i.TenMenu</a></strong>
               </li>


           }
       </ul>